<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">

<div class="container my-4">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Products in [[${category.name}]]</h2>
        <p class="text-muted">Explore our collection below.</p>
    </div>

    <!-- Product Grid -->
    <div class="container">
        <div class="row g-3">
            <th:block th:each="product : ${listProducts}">
                <div class="col-12 col-md-6">
                    <div th:replace="~{product/product_fragment::content}"></div>
                </div>
            </th:block>
        </div>
    </div>


    <!-- Pagination and Summary -->
    <div class="mt-5">
        <div th:replace="~{fragments::resultsSummary('products')}"></div>
        <div th:replace="~{fragments::pagination('/c/' + ${category.alias} + '/page')}"></div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('input.rating-loading').each(function () {
            $(this).rating({
                theme: 'krajee-svg',
                showClear: false,
                showCaption: false,
                displayOnly: true,
                size: 'md'
            });
        });
    });
</script>
</div>

</body>
</html>
